
.container {
    display: block;
    position: relative;
    padding-left: 5vh;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* Hide the browser's default checkbox */
/* .container input {
    position: relative;
    margin-top: 20px;
    margin-left: 10px;
    opacity: 5px;
    cursor: pointer;
    height: 20px;
    width: 20px;
  } */
  /* .container .btn{
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 20vh;
    font-size: large;
} */
  
