.xyz {
    background-size: auto;
    text-align: center;
    padding-top: 100px;
}
.btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
}
.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;  
    
}


.container p{
    font-size: 50px;
}
.main-container h1{
    margin-top: 50px;
    text-align: center;
}

.container .col {
    margin-top: 30px;
    
}
.container .btn{
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-size: large;
    
   
}
